[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pydocstyle = "*"
rope = "*"
yapf = "*"

[packages]
pandas = "*"
ipykernel = "*"
matplotlib = "*"
sklearn = "*"
numpy = "*"
mlens = "*"
openpyxl = "*"
sklearn-deap = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
peewee = "*"

[requires]
python_version = "3.8"
